/* Variables et utilitaires
   ========================================================================== */

/****** Variables (peuvent être utilisées dans tous les fichiers) *******/
:root {
    --couleur-texte: #000;
}

/*** Clearfix ***/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Images fluides */
img{
    max-width: 100%;
}

/*** Styles de base ***/
abbr[title]{
    cursor:help;
}

